{# Plantillla de nuestra aplicacion #}
{% extends 'base.html.twig' %}
{# TITULO #}
{% block title %}
Lista Asignaturas
{% endblock %}
{# CONTENIDO #}
{% block body %}

<table>
<h1>Lista de Asignatura</h1>
<tr class="title">
    <th>Nombre de Usuario</th>
    <th>Contraseña</th>
    <th>Nombre</th>
    <th>Apellidos</th>
    <th>Diversidad</th>
    <th>Telefono</th>
    <th>Dirección</th>
    <th>Correo</th>
</tr>
  {% for asig in asignatura %}

  <tr class="cont">
      <td>{{ asig.id }}</td>
      <td>{{ asig.id_aula }}</td>
      <td>{{ asig.nombre }}</td>
      <td>{{ asig.username_profesor }}</td>
      <td>{{ asig.id_programa }}</td>
      <td>{{ asig.username_voluntario }}</td>
  </tr>
  {% endfor %}
</table>

<table>
<h1>Lista de Profesores</h1>
<tr class="title">
    <th>Nombre de Usuario</th>
    <th>Contraseña</th>
    <th>Nombre</th>
    <th>Apellidos</th>
    <th>Telefono</th>
    <th>Dirección</th>
    <th>Correo</th>
</tr>
  {% for pro in profesor %}

  <tr class="cont">
      <td>{{ pro.username }}</td>
      <td>{{ pro.password }}</td>
      <td>{{ pro.nombre }}</td>
      <td>{{ pro.apellidos }}</td>
      <td>{{ pro.telefono }}</td>
      <td>{{ pro.direccion }}</td>
      <td>{{ pro.correo}}</td>
      <td><a href="{{path('updateProf',{'username':pro.username})}}" id="link">Actualizar</a>
      <td><a href="{{path('deleteProf',{'username':pro.username})}}" id="link">Borrar</a></td>
  </tr>
  {% endfor %}
</table>

<table>
<h1>Lista de Programas</h1>
<tr class="title">
    <th>ID</th>
    <th>Nombre</th>
</tr>
  {% for prog in programa %}

  <tr class="cont">
      <td>{{ prog.id }}</td>
      <td>{{ prog.nombre }}</td>
  </tr>
  {% endfor %}
</table>
<table>
<h1>Lista de Voluntarios</h1>
<tr class="title">
    <th>Nombre de Usuario</th>
    <th>Contraseña</th>
    <th>Nombre</th>
    <th>Apellidos</th>
    <th>Disponibilidad</th>
    <th>Telefono</th>
    <th>Dirección</th>
    <th>Correo</th>
</tr>
  {% for vol in voluntario %}

  <tr class="cont">
      <td>{{ vol.username }}</td>
      <td>{{ vol.password }}</td>
      <td>{{ vol.nombre }}</td>
      <td>{{ vol.apellidos }}</td>
      <td>{{ vol.disponibilidad }}</td>
      <td>{{ vol.telefono }}</td>
      <td>{{ vol.direccion }}</td>
      <td>{{ vol.correo}}</td>
      <td><a href="{{path('updateVol',{'username':vol.username})}}" id="link">Actualizar</a>
      <td><a href="{{path('deleteVol',{'username':vol.username})}}" id="link">Borrar</a></td>
  </tr>
  {% endfor %}
</table>
<table>
<h1>Lista de Alumnos</h1>
<tr class="title">
    <th>Nombre de Usuario</th>
    <th>Contraseña</th>
    <th>Nombre</th>
    <th>Apellidos</th>
    <th>Diversidad</th>
    <th>Telefono</th>
    <th>Dirección</th>
    <th>Correo</th>
</tr>
  {% for almn in alumno %}

  <tr class="cont">
      <td>{{ almn.username }}</td>
      <td>{{ almn.password }}</td>
      <td>{{ almn.nombre }}</td>
      <td>{{ almn.apellidos }}</td>
      <td>{{ almn.diversidad }}</td>
      <td>{{ almn.telefono }}</td>
      <td>{{ almn.direccion }}</td>
      <td>{{ almn.correo}}</td>
      <td><a href="{{path('update',{'username':almn.username})}}">Actualizar</a>
      <td><a href="{{path('delete',{'username':almn.username})}}">Borrar</a></td>
  </tr>
  {% endfor %}
</table>


<style>
  h1{text-align: center; margin-top: 5.6%; margin-bottom: 2%;}
  table{background-color: #ebebeb; width: 98%; margin-left: 1%;margin-bottom: 2%;}
  th{text-align: center; background-color: #343A40; color:#fff;padding-top:0.3%; padding-bottom: 0.3%;border: 1px solid #C1C3D1;}
  td{border-bottom: 1px solid #C1C3D1; text-align: center;padding-bottom:0.3%; padding-top: 0.3%; color: #343A40;}
  td a{color: #343A40; text-decoration: none;}
  td a:hover{color: #00368b; text-decoration: none; }
</style>
{% endblock %}
