{# Plantillla de nuestra aplicacion #}
{% extends 'base.html.twig' %}
{# TITULO #}
{% block title %}
Lista Asignaturas
{% endblock %}
{# CONTENIDO #}
{% block body %}

<table>
<h1>Lista de Aula</h1>
<tr class="title">
    <th>ID</th>
    <th>Número de Aula</th>
</tr>
  {% for au in aula_todo %}

  <tr class="cont">
      <td>{{ au.id }}</td>
      <td>{{ au.numAula }}</td>
  {% endfor %}
</table>

<table>
<h1>Lista de Programas</h1>
<tr class="title">
    <th>ID</th>
    <th>Nombre</th>
</tr>
  {% for prog in programa_todo %}

  <tr class="cont">
      <td>{{ prog.id }}</td>
      <td>{{ prog.nombre }}</td>
  </tr>
  {% endfor %}
</table>

<table>
<h1>Lista de Asignatura</h1>
<tr class="title">
    <th>Nombre de Usuario</th>
    <th>Contraseña</th>
    <th>Nombre</th>
    <th>Apellidos</th>
    <th>Diversidad</th>
    <th>Telefono</th>
    <th>Dirección</th>
    <th>Correo</th>
</tr>
  {% for asig in asignatura_todo %}

  <tr class="cont">
      <td>{{ asig.id }}</td>
      <td>{{ asig.id_aula }}</td>
      <td>{{ asig.nombre }}</td>
      <td>{{ asig.username_profesor }}</td>
      <td>{{ asig.id_programa }}</td>
      <td>{{ asig.username_voluntario }}</td>
  </tr>
  {% endfor %}
</table>

<table>
<h1>Lista de Profesores</h1>
<tr class="title">
    <th>Nombre de Usuario</th>
    <th>Contraseña</th>
    <th>Nombre</th>
    <th>Apellidos</th>
    <th>Telefono</th>
    <th>Dirección</th>
    <th>Correo</th>
</tr>
  {% for pro in profesor_todo %}

  <tr class="cont">
      <td>{{ pro.username }}</td>
      <td>{{ pro.password }}</td>
      <td>{{ pro.nombre }}</td>
      <td>{{ pro.apellidos }}</td>
      <td>{{ pro.telefono }}</td>
      <td>{{ pro.direccion }}</td>
      <td>{{ pro.correo}}</td>
  </tr>
  {% endfor %}
</table>


<table>
<h1>Lista de Voluntarios</h1>
<tr class="title">
    <th>Nombre de Usuario</th>
    <th>Contraseña</th>
    <th>Nombre</th>
    <th>Apellidos</th>
    <th>Disponibilidad</th>
    <th>Telefono</th>
    <th>Dirección</th>
    <th>Correo</th>
</tr>
  {% for vol in voluntario_todo %}

  <tr class="cont">
      <td>{{ vol.username }}</td>
      <td>{{ vol.password }}</td>
      <td>{{ vol.nombre }}</td>
      <td>{{ vol.apellidos }}</td>
      <td>{{ vol.disponibilidad }}</td>
      <td>{{ vol.telefono }}</td>
      <td>{{ vol.direccion }}</td>
      <td>{{ vol.correo}}</td>
  </tr>
  {% endfor %}
</table>
<table>
<h1>Lista de Alumnos</h1>
<tr class="title">
    <th>Nombre de Usuario</th>
    <th>Contraseña</th>
    <th>Nombre</th>
    <th>Apellidos</th>
    <th>Diversidad</th>
    <th>Telefono</th>
    <th>Dirección</th>
    <th>Correo</th>
</tr>
  {% for almn in alumno_todo %}

  <tr class="cont">
      <td>{{ almn.username }}</td>
      <td>{{ almn.password }}</td>
      <td>{{ almn.nombre }}</td>
      <td>{{ almn.apellidos }}</td>
      <td>{{ almn.diversidad }}</td>
      <td>{{ almn.telefono }}</td>
      <td>{{ almn.direccion }}</td>
      <td>{{ almn.correo}}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
