{# Plantillla de nuestra aplicacion #}
{% extends 'base.html.twig' %}
{# TITULO #}
{% block title %}
Lista para Alumno
{% endblock %}
{# CONTENIDO #}
{% block body %}

      <table>
      <h1>Lista para Alumno</h1>
      <tr class="title">
            <th>Aula</th>
            <th>Asignatura</th>
            <th>Profesor</th>
            <th>Voluntario</th>
            <th>Programa</th>

            {% for au in aula_todo %}
              <tr class="cont">
                <td>{{ au.numAula }}</td>
            {% endfor %}
          {% for asig in asignatura_todo %}
              <td>{{ asig.nombre }}</td>
              <td>{{ asig.username_profesor }}</td>
              <td>{{ asig.username_voluntario }}</td>
          {% endfor %}
          {% for prog in programa_todo %}
              <td>{{ prog.nombre }}</td>
            </tr>
          {% endfor %}

        </table>
{% endblock %}
