{# Plantillla de nuestra aplicacion #}
{% extends 'base.html.twig' %}
{# TITULO #}
{% block title %}
Lista de Profesores
{% endblock %}
{# CONTENIDO #}
{% block body %}

<table>
<h1>Lista de Profesores</h1>
<tr class="title">
    <th>Nombre de Usuario</th>
    <th>Contraseña</th>
    <th>Nombre</th>
    <th>Apellidos</th>
    <th>Telefono</th>
    <th>Dirección</th>
    <th>Correo</th>
</tr>
  {% for pro in Profesor %}

  <tr class="cont">
      <td>{{ pro.username }}</td>
      <td>{{ pro.password }}</td>
      <td>{{ pro.nombre }}</td>
      <td>{{ pro.apellidos }}</td>
      <td>{{ pro.telefono }}</td>
      <td>{{ pro.direccion }}</td>
      <td>{{ pro.correo}}</td>
      <td><a href="{{path('updateProf',{'username':pro.username})}}" id="link">Actualizar</a>
      <td><a href="{{path('deleteProf',{'username':pro.username})}}" id="link">Borrar</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
