{# Plantillla de nuestra aplicacion #}
{% extends 'base.html.twig' %}
{# TITULO #}
{% block title %}
Lista de Alumnos
{% endblock %}
{# CONTENIDO #}
{% block body %}

<table>
<h1>Lista de Alumnos</h1>
<tr class="title">
    <th>Nombre de Usuario</th>
    <th>Contraseña</th>
    <th>Nombre</th>
    <th>Apellidos</th>
    <th>Diversidad</th>
    <th>Telefono</th>
    <th>Dirección</th>
    <th>Correo</th>
</tr>
  {% for almn in Alumno %}

  <tr class="cont">
      <td>{{ almn.username }}</td>
      <td>{{ almn.password }}</td>
      <td>{{ almn.nombre }}</td>
      <td>{{ almn.apellidos }}</td>
      <td>{{ almn.diversidad }}</td>
      <td>{{ almn.telefono }}</td>
      <td>{{ almn.direccion }}</td>
      <td>{{ almn.correo}}</td>
      <td><a href="{{path('updateAlumn',{'username':almn.username})}}">Actualizar</a>
      <td><a href="{{path('deleteAlumn',{'username':almn.username})}}">Borrar</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
