{# Plantillla de nuestra aplicacion #}
{% extends 'base.html.twig' %}
{# TITULO #}
{% block title %}
Pagina principal
{% endblock %}
{# CONTENIDO #}
{% block body %}


<table>


  {% for almn in Alumno %}
  <tr>
      <td>{{ almn.username }}</td>
      <td>{{ almn.password }}</td>
      <td>{{ almn.nombre }}</td>
      <td>{{ almn.apellidos }}</td>
      <td>{{ almn.diversidad }}</td>
      <td>{{ almn.telefono }}</td>
      <td>{{ almn.direccion }}</td>
      <td>{{ almn.correo}}</td>
      <td><a href="{{path('update',{'username':almn.username})}}" id="link">Actualizar</a></td>
      <td><a href="{{path('delete',{'username':almn.username})}}" id="link">Borrar</a></td>
      </tr>
    {% endfor %}


</table>
{% endblock %}
