{# Plantillla de nuestra aplicacion #}
{% extends 'base.html.twig' %}
{# TITULO #}
{% block title %}
Lista de Voluntarios
{% endblock %}
{# CONTENIDO #}
{% block body %}

<table>
<h1>Lista de Voluntarios</h1>
<tr class="title">
    <th>Nombre de Usuario</th>
    <th>Contraseña</th>
    <th>Nombre</th>
    <th>Apellidos</th>
    <th>Disponibilidad</th>
    <th>Telefono</th>
    <th>Dirección</th>
    <th>Correo</th>
</tr>
  {% for vol in Voluntario %}

  <tr class="cont">
      <td>{{ vol.username }}</td>
      <td>{{ vol.password }}</td>
      <td>{{ vol.nombre }}</td>
      <td>{{ vol.apellidos }}</td>
      <td>{{ vol.disponibilidad }}</td>
      <td>{{ vol.telefono }}</td>
      <td>{{ vol.direccion }}</td>
      <td>{{ vol.correo}}</td>
      <td><a href="{{path('updateVol',{'username':vol.username})}}" id="link">Actualizar</a>
      <td><a href="{{path('deleteVol',{'username':vol.username})}}" id="link">Borrar</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
