{# Plantillla de nuestra aplicacion #}
{% extends 'base.html.twig' %}
{# TITULO #}
{% block title %}
Lista de Voluntarios
{% endblock %}
{# CONTENIDO #}
{% block body %}

<table>
<h1>Lista de Voluntarios</h1>
<tr class="title">
    <th>Nombre de Usuario</th>
    <th>Contraseña</th>
    <th>Nombre</th>
    <th>Apellidos</th>
    <th>Disponibilidad</th>
    <th>Telefono</th>
    <th>Dirección</th>
    <th>Correo</th>
</tr>
  {% for vol in Voluntario %}

  <tr class="cont">
      <td>{{ vol.username }}</td>
      <td>{{ vol.password }}</td>
      <td>{{ vol.nombre }}</td>
      <td>{{ vol.apellidos }}</td>
      <td>{{ vol.disponibilidad }}</td>
      <td>{{ vol.telefono }}</td>
      <td>{{ vol.direccion }}</td>
      <td>{{ vol.correo}}</td>
      <td><a href="{{path('updateVol',{'username':vol.username})}}" id="link">Actualizar</a>
      <td><a href="{{path('deleteVol',{'username':vol.username})}}" id="link">Borrar</a></td>
  </tr>
  {% endfor %}
</table>
<style>
  h1{text-align: center; margin-top: 5.6%; margin-bottom: 2%;}
  table{background-color: #ebebeb; width: 98%; margin-left: 1%;margin-bottom: 2%;}
  th{text-align: center; background-color: #343A40; color:#fff;padding-top:0.3%; padding-bottom: 0.3%;border: 1px solid #C1C3D1;}
  td{border-bottom: 1px solid #C1C3D1; text-align: center;padding-bottom:0.3%; padding-top: 0.3%; color: #343A40;}
  td a{color: #343A40; text-decoration: none;}
  td a:hover{color: #00368b; text-decoration: none;}
</style>
{% endblock %}
