{# Plantillla de nuestra aplicacion #}
{% extends 'base.html.twig' %}
{# TITULO #}
{% block title %}
Lista Profesores
{% endblock %}
{# CONTENIDO #}
{% block body %}
<div class="container">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">Usuarios</a>
        </h4>
      </div>
      <div class="dropdown text-center">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="{{ path('listadoPro') }}">Profesores</a></li>
          <li><a href="{{ path('listadoVol') }}">Voluntarios</a></li>
          <li><a href="#">JavaScript</a></li>
        </ul>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body"><table>
        <tr class="title">
            <th>Nombre de Usuario</th>
            <th>Contraseña</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Telefono</th>
            <th>Dirección</th>
            <th>Correo</th>
        </tr>
          {% for usu in usuario %}

          <tr class="cont">
              <td>{{ usu.id }}</td>
              <td>{{ usu.password }}</td>
              <td>{{ usu.nombre }}</td>
              <td>{{ usu.apellidos }}</td>
              <td>{{ usu.telefono }}</td>
              <td>{{ usu.direccion }}</td>
              <td>{{ usu.correo}}</td>
              <td><a href="{{path('updateProf',{'username':usu.id})}}" id="link">Actualizar</a>
              <td><a href="{{path('deleteProf',{'username':usu.id})}}" id="link">Borrar</a></td>
          </tr>
          {% endfor %}
        </table></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
