{# Plantillla de nuestra aplicacion #}
{% extends 'base.html.twig' %}
{# TITULO #}
{% block title %}
Lista Profesores
{% endblock %}
{# CONTENIDO #}
{% block body %}
  <a href="{{ path('lincado') }}">Volver</a>
      <div class="dropdown text-right mr-4">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">USUARIOS
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="{{ path('listadoPro') }}">Profesores</a></li>
          <li><a href="{{ path('listadoVol') }}">Voluntarios</a></li>
          <li><a href="{{ path('listadoAlumno') }}">Alumnos</a></li>
        </ul>
      </div>
      <table>
      <h1>Usuarios</h1>
        <tr class="title">
            <th>Nombre de Usuario</th>
            <th>Contraseña</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Telefono</th>
            <th>Dirección</th>
            <th>Programa</th>
            <th>Correo</th>
            <th>Tipo</th>
        </tr>
          {% for usu in usuario %}

          <tr class="cont">
              <td>{{ usu.username }}</td>
              <td>{{ usu.password }}</td>
              <td>{{ usu.nombre }}</td>
              <td>{{ usu.apellidos }}</td>
              <td>{{ usu.telefono }}</td>
              <td>{{ usu.direccion }}</td>
              <td>{{ au.programa|join(',') }}</td>
              <td>{{ usu.correo}}</td>
              <td>{{ usu.tipoUsuario}}</td>
              <td><a href="{{path('updateProf',{'username':usu.id})}}" id="link">Actualizar</a>
              <td><a href="{{path('deleteProf',{'username':usu.id})}}" id="link">Borrar</a></td>
          </tr>
          {% endfor %}
        </table>
{% endblock %}
