{# Plantillla de nuestra aplicacion #}
{% extends 'base.html.twig' %}
{# TITULO #}
{% block title %}
Lista Asignaturas
{% endblock %}
{# CONTENIDO #}
{% block body %}

<table>
<h1>Lista de Asignatura</h1>
<tr class="title">
    <th>ID</th>
    <th>ID Aula</th>
    <th>Nombre</th>
    <th>Usuario Profesor</th>
    <th>ID PRograma</th>
    <th>Usuario Voluntario</th>
</tr>
  {% for asig in Asignatura %}

  <tr class="cont">
      <td>{{ asig.id }}</td>
      <td>{{ asig.id_aula }}</td>
      <td>{{ asig.nombre }}</td>
      <td>{{ asig.username_profesor }}</td>
      <td>{{ asig.id_programa }}</td>
      <td>{{ asig.username_voluntario }}</td>
  </tr>
  {% endfor %}
</table>
<style>
  h1{text-align: center; margin-top: 5.6%; margin-bottom: 2%;}
  table{background-color: #ebebeb; width: 98%; margin-left: 1%;margin-bottom: 2%;}
  th{text-align: center; background-color: #343A40; color:#fff;padding-top:0.3%; padding-bottom: 0.3%;border: 1px solid #C1C3D1;}
  td{border-bottom: 1px solid #C1C3D1; text-align: center;padding-bottom:0.3%; padding-top: 0.3%; color: #343A40;}
  td a{color: #343A40; text-decoration: none;}
  td a:hover{color: #00368b; text-decoration: none; }
</style>
{% endblock %}
